{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Мой CRM{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <header>
    {% include 'core/navbar.html' %}
  </header>

  <main>
    {% block content %}
      <h1>Привет, {% if user %}{{ user.first_name }} {{ user.last_name }}{% else %}Гость{% endif %}!</h1>
      <p>Добро пожаловать в ваше локальное приложение Битрикс24.</p>
    {% endblock %}
  </main>
</body>
</html>
