{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <a href="{% url 'core:main_menu' %}" class="button">Главное меню</a>
    <a href="{% url 'employee_table:table' %}" class="button">Список сотрудников</a>
    <a href="{% url 'employee_table:calls' %}" class="button">Сгенерировать звонки</a>

    {% block content %}{% endblock %}
</body>
</html>
