{% extends 'crm_demo/base.html' %}

{% block title %}Последние сделки{% endblock %}

{% block content %}
<h1>Последние активные сделки</h1>

{% if last_deals %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Сумма</th>
                <th>Стадия</th>
                <th>Дата создания</th>
                <th>Описание</th>
                <th>Адрес доставки</th>
            </tr>
        </thead>
        <tbody>
            {% for deal in last_deals %}
                <tr>
                    <td>{{ deal.ID }}</td>
                    <td>{{ deal.TITLE }}</td>
                    <td>{{ deal.OPPORTUNITY }} {{ deal.CURRENCY_ID }}</td>
                    <td>{{ deal.STAGE_ID }}</td>
                    <td>{{ deal.DATE_CREATE }}</td>
                    <td>{{ deal.description }}</td>
                    <td>{{ deal.address }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>У вас пока нет активных сделок.</p>
{% endif %}
{% endblock %}
